[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "==1.0"
Flask = "*"
gunicorn = "*"
ipython = "*"
tensorflow = "*"

[dev-packages]
requests = "*"
pandas = "*"

[requires]
python_version = "3.7"
